@charset "utf-8";
/* CSS Document */
/* hide vertical scrollbar */
notificationbox {
    overflow-x: hidden;
}
browser[type="content-primary"], browser[type="content-targetable"] {
    overflow-y: scroll;
    margin-right: -12px; /* 12px == width of my scrollbar */
}




body{
    background:#e8c7c7;
   
    
}
.qsel{
    width:3em;
    margin:2px;
}
.clear{clear:both;}
#footnote{
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#96F;
	float:right;
	
	}
.fill_half{
    color:green;        
    width : 49%;
    
            
        }
#wrapper{

	width:755px;
	background:#CCC;
	padding:10px;
	margin:auto;
        margin-bottom:2000px;
}
#banner{
	
	background:#F93;
	width:inherit;
	height:70px;
          text-align:center; 
        font-size:2.2em;
        font-family:"Comic Sans MS", cursive;
        padding-top:10px;
        -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
        
	}

#content{

padding-top:10px;	
    min-height:440px;
	}


#cont1{
    
	padding:10px;
	float:left;
      background: #ecf9ee;
	width:440px;
	min-height:300px;
        
        -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
        
	}
#info{
	float:left;
}

#question{

width:420px;
height:190px;
border:2px solid red;
margin:10px;
padding:2px;

  -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;

}
.large{
font-size:1.5em;
}
#Q{
    font-size: 1.4em;
    font-weight: bolder;
 
    float:left;
}

#ans_pass{
  padding-left: 25px; 
  padding-right: 20px;

}
#score{
width:270px;
height:220px;
  background: #ecf9ee;
padding:10px;
float:right;

  -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;

}

#nos{
	padding:10px;
	float:right;
	width:270px;
  background: #ecf9ee;
	height:158px;
	margin-top:10px;
          -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
        
        
	}
       

#clock{
	padding:10px;
	float:right;
	width:200px;
	height:120px;
        background:#dbc955;
         border:none;
          border:2px dashed green; 
        -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
        
	}
 #cntdwn{
            font-family: cursive,fantasy;
            font-size: 3em;
            font-weight: bold;
            width: 200px;
            height:80px;
            color:red;
            border:none;
          border:2px dashed red;  
        -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
            
        }
       
        #footer{
            widht:100%;
            height: 40px;
           background:#F93;
            padding: 1px;
            padding-right: 20px;
           text-align: center;
           font-family: cursive;
           color: black;
          -moz-border-radius:15px;  /* firefox */
		border-radius:15px; /* Opera  chrome */
		 -webkit-border-radius:15px;
        
                }
      
        #answer{
            postion: absolute;
            top: 10px;
            margin:auto;
            width:700px;
            min-height:200px;
            background: #CCC;
            border: 2px solid black;
            margin-bottom: 200px;
            padding: 20px;
            
              -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
            
        }
        #pas1{
            border:none;
            border:1px solid red;
              -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
            
        }
     #neq1{
         border:none;
         border: 1px solid red;
           -moz-border-radius:15px;  /* firefox */
	border-radius:15px; /* Opera  chrome */
	-webkit-border-radius:15px;
     }
     
